
sTalker/obj/Debug/

sTalker/obj/

sTalker/bin/Debug/

Server/obj/

Server/bin/Debug/netcoreapp2.1/

.vs/sTalker/xs/sqlite3/

.vs/sTalker/xs/project-cache/

.vs/sTalker/xs/UserPrefs.xml

.DS_Store

sTalker.Mobile/obj/Debug/

sTalker.Shared/obj/Debug/

sTalker.Server/obj/

sTalker.Mobile/.vs/sTalker.Mobile/xs/project-cache/

sTalker.Mobile/.vs/sTalker.Mobile/xs/sqlite3/

sTalker.Mobile/.vs/sTalker.Mobile/xs/

sTalker.Mobile/bin/Debug/

sTalker.Mobile/obj/.cache/

sTalker.Mobile/obj/
